html,body,.container,#banner-canvas {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
}

#banner-canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
}
