body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both;
  *zoom: 1; }

html, body, .container, #banner-canvas {
  width: 100%;
  height: 100%; }

body {
  font: 14px "Microsoft YaHei", sans-serif;
  background-color: #231f54; }

#banner-canvas {
  position: fixed;
  top: 0;
  left: 0; }

.side-heros {
  position: fixed;
  top: 300px;
  right: 78px;
  width: 132px;
  z-index: 1; }
  .side-heros.fixed {
    position: fixed;
    top: 300px; }
  .side-heros .to-top {
    display: block;
    width: 56px;
    height: 40px;
    background: url(../images/totop-icon.png);
    margin: 0 auto;
    margin-bottom: 12px; }
  .side-heros .side-heros-item {
    float: left;
    width: 66px;
    height: 66px; }
  .side-heros .side-heros-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../images/side-heros-default.png); }
    .side-heros .side-heros-link-1 {
      background-position: -1px -1px; }
    .side-heros .side-heros-link-2 {
      background-position: -1px -76px; }
    .side-heros .side-heros-link-3 {
      background-position: -1px -151px; }
    .side-heros .side-heros-link-4 {
      background-position: -1px -226px; }
    .side-heros .side-heros-link-5 {
      background-position: -1px -301px; }
    .side-heros .side-heros-link-6 {
      background-position: -1px -376px; }
    .side-heros .side-heros-link-7 {
      background-position: -1px -451px; }
    .side-heros .side-heros-link-8 {
      background-position: -1px -524px; }
    .side-heros .side-heros-link-9 {
      background-position: -68px -1px; }
    .side-heros .side-heros-link-10 {
      background-position: -68px -76px; }
    .side-heros .side-heros-link-11 {
      background-position: -68px -151px; }
    .side-heros .side-heros-link-12 {
      background-position: -68px -226px; }
    .side-heros .side-heros-link-13 {
      background-position: -68px -301px; }
    .side-heros .side-heros-link-14 {
      background-position: -68px -376px; }
    .side-heros .side-heros-link-15 {
      background-position: -68px -451px; }
    .side-heros .side-heros-link-16 {
      background-position: -68px -524px; }
    .side-heros .side-heros-link:hover, .side-heros .side-heros-link:active {
      background-image: url(../images/side-heros-active.png); }

.center-wrapper {
  width: 930px;
  height: 100%;
  padding: 0 35px;
  margin: 0 auto;
  position: relative; }

.banner {
  height: 786px;
  background: url(../images/banner-bg.jpg) center top no-repeat; }
  .banner .lol-link {
    display: block;
    width: 190px;
    height: 122px;
    background: url(../images/lol-logo.png);
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 5px; }
  .banner .daoju-link {
    display: block;
    width: 255px;
    height: 54px;
    background: url(../images/daoju-logo.png);
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 214px; }
  .banner .login-link {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 256px; }
  .banner img {
    position: absolute; }
  .banner .banner-akali {
    left: 176px; }
  .banner .banner-akalistore-text {
    top: 285px;
    left: 119px; }
  .banner .banner-alika-text {
    top: 280px;
    left: 115px; }
  .banner .banner-store-text {
    top: 362px;
    left: 382px; }
  .banner .banner-lucky-text {
    top: 313px;
    left: 692px; }
  .banner .banner-top-text {
    top: 532px;
    left: 170px; }
  .banner .banner-bottom-text {
    top: 542px;
    left: 426px; }
  .banner .banner-starttime {
    top: 606px;
    left: 290px; }
  .banner .banner-btn {
    top: 654px;
    left: 344px; }

.heros {
  height: 484px;
  color: #8a48fa; }
  .heros .hero-box {
    padding-top: 58px; }
  .heros .hero-box-header {
    margin-bottom: 6px; }
    .heros .hero-box-header:after, .heros .hero-box-header:before {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
  .heros .hero-box-title {
    font-size: 45px;
    float: left; }
    .heros .hero-box-title .hero-icon {
      display: inline-block;
      width: 80px;
      height: 80px;
      background: #ddd;
      border-radius: 50%;
      margin: -1px 0 0 -3px;
      float: left;
      background-image: url(/static/images/hero-box-icons.png);
      background-size: 222%; }
      .heros .hero-box-title .hero-icon-1 {
        background-position: -4px -4px; }
      .heros .hero-box-title .hero-icon-2 {
        background-position: -4px -100px; }
      .heros .hero-box-title .hero-icon-3 {
        background-position: -4px -196px; }
      .heros .hero-box-title .hero-icon-4 {
        background-position: -4px -292px; }
      .heros .hero-box-title .hero-icon-5 {
        background-position: -4px -388px; }
      .heros .hero-box-title .hero-icon-6 {
        background-position: -4px -484px; }
      .heros .hero-box-title .hero-icon-7 {
        background-position: -4px -580px; }
      .heros .hero-box-title .hero-icon-8 {
        background-position: -4px -672px; }
      .heros .hero-box-title .hero-icon-9 {
        background-position: -88px -4px; }
      .heros .hero-box-title .hero-icon-10 {
        background-position: -88px -100px; }
      .heros .hero-box-title .hero-icon-11 {
        background-position: -88px -196px; }
      .heros .hero-box-title .hero-icon-12 {
        background-position: -88px -292px; }
      .heros .hero-box-title .hero-icon-13 {
        background-position: -88px -388px; }
      .heros .hero-box-title .hero-icon-14 {
        background-position: -88px -484px; }
      .heros .hero-box-title .hero-icon-15 {
        background-position: -88px -580px; }
      .heros .hero-box-title .hero-icon-16 {
        background-position: -88px -672px; }
    .heros .hero-box-title p {
      line-height: 72px;
      padding-left: 13px;
      float: left;
      font-weight: 400; }
    .heros .hero-box-title strong {
      color: #fff;
      padding-right: 13px; }
  .heros .hero-box-sale {
    float: right;
    margin: -17px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .heros .hero-box-sale strong {
      font: 90px impact;
      padding: 0 6px;
      color: #ffd600; }
  .heros .hero-list {
    overflow: hidden; }
  .heros .hero-item {
    width: 146px;
    float: left;
    margin-left: 10px; }
    .heros .hero-item:first-child {
      margin-left: 0; }
  .heros .hero-pic {
    display: block;
    width: 100%;
    height: 194px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url(/static/images/hero-buy-pic.jpg);
    margin-bottom: 10px; }
    .heros .hero-pic .hero-unknown-icon {
      display: inline-block;
      width: 46px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -23px;
      margin-top: -30px;
      background: url(/static/images/hero-unknown-icon.png); }
  .heros .hero-buy-btn {
    display: block;
    width: 100%;
    height: 43px;
    line-height: 42px;
    color: #955afb;
    background: url(/static/images/hero-buy-default.png);
    text-align: center;
    text-indent: 22px; }
    .heros .hero-buy-btn:hover {
      color: #ffd800;
      background: url(/static/images/hero-buy-hover.png); }
  .heros .hero-box-bottom {
    display: block;
    width: 103%;
    margin-left: -1.5%;
    height: 9px;
    background: url(/static/images/hero-box-bottom.png);
    margin-top: 67px; }

/*# sourceMappingURL=index.css.map */
